.modal-container {
  display: flex;
  flex-direction: column;
  width: 412px;
  /* height: 416px; */
  height: 50%;

  border-radius: 30px;
  padding: 32px 40px 32px 32px;
  background: var(--black-gradient);
}

.title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.modal-container p {
  color: var(--light-grey);
}

.rating-options {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 2rem;
}

.rating-options > section {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.submit-button {
  background-color: var(--orange);
  border-radius: 20px;
  padding: 10px;
  border: none;
  color: var(--pure-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--pure-white);
  color: red;
}

.submitted-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .modal-container {
    margin: 1.5rem;
  }
}