:root {
  --very-dark-blue: hsl(216, 12%, 8%);
  --black-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  --dark-blue: #262E38;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* height: 100dvh; */
  /* height: 100%; */

  background: var(--very-dark-blue);
  color: white;
}

