:root {
  --pure-white: #FFF;
  --light-grey: #969FAD;
  --orange: #FC7614;

  --font-family-default: 'Overpass';
}

body {
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

*, *::before, *::after{
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'Overpass';
  font-display: swap;
  font-weight: 100 900;
  src: url('../src/assets/fonts/Overpass/Overpass-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: var(--font-family-default);
  color: var(--pure-white);
  font-size: 1rem;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}