
.oval-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  border-radius: 50%;
  background-color: var(--dark-blue);
  border-style: none;
  cursor: pointer;
  color: var(--light-grey);
}

button:hover {
  background-color: var(--orange);
  color: var(--pure-white);
}

.oval-container.selected {
  background-color: var(--medium-grey);
  color: var(--pure-white);
}